table {
    background-color:white;
    height:500px;
    width:1000px;
    margin-left:15%;    
    
    
}
thead {
    background-color:royalblue;
    

}
th{
    text-align:center;
}
td{text-align:center;}
tbody {
    background-color:grey;
}
h1{
    color:black;
    background:linear-gradient(blue,pink,white);
    text-align:center;
    padding:4%;
    

    


}
h2{
    color:black;
    background:linear-gradient(white,pink);
    text-align:center;
    padding:3%;
    font-size:24;

}
